# install more packages
commitizen
colorama>=0.3.8
cython
fhirclient
fhir-resources
jedi
jinja2
matplotlib
openpyxl
pandas
poetry
pptx2md
playwright
pydub
pylint
pydub
pillow
scikit-learn
scipy
