# install more packages
commitizen
cython
fhirclient
fhir-resources
jinja2
jupyter # required for quarto
matplotlib
nbclient
openpyxl
pandas
pptx2md
playwright
pillow
scikit-learn
scipy
ruff # language server / linter / formatter
uv # packaging
