/*
/*/

!/.gitignore
!/CHANGELOG.md
!/README.md
!/config/
!/deploy_headless/
!/deploy_rstudio/

!/.github
/.github/*
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/*.yml

!/Dockerfiles/
/Dockerfiles/*
!/Dockerfiles/rdsc_base_j.dockerfile
!/Dockerfiles/rdsc_headless_j.dockerfile
!/Dockerfiles/rdsc_rstudio_j.dockerfile
!/Dockerfiles/rdsc_final_j.dockerfile

!/.env
!/build_rdsc.sh
!/docker-compose.yml
!/start_rdatascience.sh
!/stop_rdatascience.sh


## Ignore all log-related files:
**/*[Ll]og*
**/*.log
