/*
/*/

!/.gitignore
!/CHANGELOG.md
!/README.md
!/config/
!/deploy_headless/
!/deploy_rstudio/
!/image_rdsc_base_j/
!/image_rdsc_headless_j/
!/image_rdsc_rstudio_j/
!/.env
!/build_rdsc.sh
!/docker-compose.yml
!/start_rdatascience.sh
!/stop_rdatascience.sh


## Ignore all log-related files:
/*log*