/*
/*/

!/.gitignore
!/configs/
!/misc/
!/misc/docker-ionic/
!/misc/docker-JabRef/
!/datascience/
!/datascience/base_image/
!/datascience/base_image_gpu/
!/datascience/Pdatascience/
!/datascience/Rdatascience/
!/datascience/positron_headless/
