
/*
/*/

*.log

!/.gitignore
!/README.md

!/Dockerfile
!/build_pdsc.sh
!/build_pdsc_gpu.sh
!/*.sh
!/_old_install/
!/deploy/
!/image_pdsc_base/
!/image_pdsc_gpu/
!/image_pdsc_gpu_base/
!/image_pdsc_headless/
