# install datascience packages
#bokeh
catboost
colorama>=0.3.8
dicom2nifti
eli5
fasttext
gensim
imgaug 
keras
matplotlib
monai
nibabel
nltk
nose
opencv-python
pandas
pillow
plotly
pocketsphinx
psycopg2-binary 
pydicom 
pydub
pytorch-lightning
pytorch-lightning-bolts
scikit-build
scikit-image 
scikit-learn
scipy
scrapy
seaborn
SimpleITK
spacy
SpeechRecognition 
statsmodels
sympy
tabulate
torch
torchvision
