# install datascience packages
catboost
colorama>=0.3.8
dicom2nifti
eli5
imgaug 
keras
matplotlib
monai
nibabel
opencv-python
pandas
pillow
psycopg2-binary 
pydicom 
pytorch-lightning>=1.1.1
pytorch-lightning-bolts
scikit-build
scikit-image 
scikit-learn
scipy
scrapy
SimpleITK
statsmodels
sympy
tabulate
torch
torchvision
xlrd
