# install datascience packages
bokeh
catboost
colorama>=0.3.8
cython
dicom2nifti
eli5
fasttext
future
gensim
imgaug 
ipython
jedi
jinja2
jupyter
keras
matplotlib
monai
nibabel
nltk
nose
notebook 
numpy
opencv-python
pandas
pdoc3
pillow
pipreqs
plotly
pocketsphinx
psycopg2-binary 
pycodestyle
pydicom 
pydub
pylint
pytest
pytorch-lightning
pytorch-lightning-bolts
autopep8
requests
scikit-image 
scikit-learn
scipy
scrapy
seaborn
SimpleITK
spacy
SpeechRecognition 
statsmodels
sympy
tabulate
torch
torchvision
