
/*
/*/

*.log

!/.gitignore
!/README.md

!/Dockerfile
!/build_pdatascience.sh
!/start_unix.sh
!/start_windows.sh
!/docker-compose.yml

!/volume/
!/volume/.vscode
!/volume/pdatascience.code-workspace
